@use "../../mixins" as *;
@use "../../presets" as *;

.about {
  background-color: $color-gray-light;
  letter-spacing: 0.0625rem;

  @media (min-width: 992px) {
    padding-top: 100px;
    padding-bottom: 100px; /*for about 60px*/
  }

  @media (max-width: 991px) and (min-width: 768px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__container {
    display: flex;
    padding-left: $gap;
    @extend %container;

    @media (min-width: 992px) {
      gap: 100px;
      justify-content: flex-start;
    }

    @media (max-width: 991px) and (min-width: 768px) {
      align-items: flex-start;
      gap: 40px;
    }

    @media (max-width: 767px) and (min-width: 576px) {
      gap: $gap;
    }

    @media (max-width: 575px) {
      gap: $gap;
      flex-direction: column;
    }
  }

  &__container p {
    @media (max-width: 991px) and (min-width: 768px) {
      font-size: 1.125rem;
      line-height: 1.334em;
    }
  }

  &__content {
    @media (max-width: 767px) and (min-width: 576px) {
      justify-content: space-between;
      width: 65%;
    }

    @media (max-width: 991px) and (min-width: 768px) {
      width: 67%;
      justify-content: space-between;
    }
  }

  &__content p:last-of-type {
    margin: 0;
  }

  &__content p {
    @media (min-width: 992px) {
      line-height: 1.5rem;
      font-size: 1.125rem;
    }

    @media (max-width: 991px) and (min-width: 768px) {
    }

    @media (max-width: 767px) {
      line-height: 1.5rem;
    }
  }

  &__content h2 {
    @media (max-width: 991px) and (min-width: 768px) {
      margin-bottom: 2.2rem;
    }
  }

  &__content p:first-of-type {
    @media (min-width: 992px) {
      position: relative;
    }

    @media (max-width: 991px) and (min-width: 768px) {
      position: relative;
    }

    @media (max-width: 767px) {
      position: relative;
    }
  }

  &__content p:first-of-type::after {
    @media (min-width: 992px) {
      position: absolute;
      top: 0;
      width: 1px;
      height: 200px;
      right: -55px;
      background-color: rgb(112, 112, 112);
      content: "";
    }

    @media (max-width: 991px) and (min-width: 768px) {
      right: -$gap;
      position: absolute;
      top: 0;
      width: 1px;
      height: 200px;
      background-color: #707070;
      content: "";
    }

    @media (max-width: 767px) {
      right: -10px;
      position: absolute;
      top: 0;
      width: 1px;
      height: 200px;
      background-color: rgb(112, 112, 112);
      content: "";
    }

    @media (max-width: 575px) {
      display: none;
    }
  }

  &__image {
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 992px) {
      width: 46.5%;
      min-height: 488px;
      min-width: 271px;
    }

    @media (max-width: 991px) and (min-width: 768px) {
      width: 27%;
      min-height: 459px;
      min-width: 256px;
    }

    @media (max-width: 767px) and (min-width: 576px) {
      width: 32.5%;
      min-height: 425px;
      min-width: 236px;
    }
  }

  &__image img {
    display: block;
    width: 100%;
  }
}
