@use "../../mixins" as *;
@use "../../presets" as *;

.about {
  background-color: $color-gray-light;
  letter-spacing: 0.055rem;

  @include lg-min {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include lg-md {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include md {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__container {
    display: flex;
    padding-left: $gap;
    @extend %container;

    @include lg-min {
      gap: 100px;
      justify-content: flex-start;
    }

    @include lg-md {
      align-items: flex-start;
      gap: 40px;
    }

    @include md-sm {
      gap: $gap;
    }

    @include sm {
      gap: $gap;
      flex-direction: column;
    }
  }

  &__container p {
    @include lg-md {
      font-size: 1.125rem;
      line-height: 1.334em;
    }
  }

  &__content {
    @include md-sm {
      justify-content: space-between;
      width: 65%;
    }
 
    @include lg-md {
      width: 67%;
      justify-content: space-between;
    }
  }

  &__content p:last-of-type {
    margin: 0;
  }

  &__content p {
    font-weight: 400;
    position: relative;
    // line-height: 1.15;

    @include lg-min {
      line-height: 1.5rem;
      font-size: 1.125rem;
    }

    @include md {
      line-height: 1.5rem;
    }
  }

  &__content h2 {
    @include lg-md {
      margin-bottom: 2.2rem;
    }
  }

  &__content p:first-of-type {
    @include lg-min {
      position: relative;
    }

    @include lg-md {
      position: relative;
    }

    @include md {
      position: relative;
    }
  }

  &__content p:first-of-type::after {
    @include lg-min {
      position: absolute;
      top: 0;
      width: 2px;
      height: 200px;
      right: -55px;
      background-color: rgb(112, 112, 112, 0.1);
      content: "";
    }
 
    @include lg-md {
      right: -$gap;
      position: absolute;
      top: 0;
      width: 2px;
      height: 200px;
      background-color: rgb(112, 112, 112, 0.1);
      content: "";
    }
  
    @include md {
      right: -10px;
      position: absolute;
      top: 0;
      width: 2px;
      height: 200px;
      background-color: rgb(112, 112, 112, 0.1);
      content: "";
    }
 
    @include sm {
      display: none;
    }
  }

  &__image {
    margin-left: auto;
    margin-right: auto;

    @include lg-min {
      width: 46.5%;
      min-height: 488px;
      min-width: 271px;
    }
  
    @include lg-md {
      width: 27%;
      min-height: 459px;
      min-width: 256px;
    }
   
    @include md-sm {
      width: 32.5%;
      min-height: 425px;
      min-width: 236px;
    }
  }

  &__image img {
    display: block;
    width: 100%;
  }
}
