.form {
  background-color: $color-primary;

  &__container {
  display: grid;
  gap:20px;
  padding-left: 20px;
  @extend %container;
  }

  &-item__input {
    display: block;
    width: 100%;
    height: 60px;
    padding-right: 30px;
    padding-left: 30px;
    transition: background-color 0.5s, border-color 0.5s;
    color: $color-light;
    border: 2px solid rgba($color-primary, 0);
    border-bottom-color: rgba($color-light, 0.25);
    background-color: rgba($color-light, 0.05);
    font-size: 1.125rem;
    letter-spacing: 0.1em;
  }

  &-item__input:hover,
  &-item__input:focus {
      background-color: rgb($color-light, 0.15);
      border-color: rgba($color-primary, 0.15);
      border-bottom-color: $color-light;
  }

  .btn--primary {
    width: 100%;
    color: $color-light;
    border-color: rgba($color-light, 0);
    border-bottom-color: rgba($color-light, 0.2);
    background-color: rgba($color-light, 0.1);
  }
  .btn--primary:hover,
   .btn--primary:focus {
    background-color: $color-accent;
    border: 2px solid $color-light;
  }
}
