.about {
  background-color: $color-gray-light;  
  letter-spacing: 0.0625rem;
  display: flex;

 &__container {
  position: relative;
  padding-left: 20px;
  display: inline-flex;

  @extend %container;
  }
  
  &__content p:last-of-type {
    margin: 0;
}
  &__image {
  display: grid;
  align-content: center;
  justify-items: center;
  }
}
