@use "../../presets" as *;
@use "../../mixins" as *;

.header-logo {
  font-size: 1.5rem;
  letter-spacing: 0.22em;
  // line-height: 1.25rem;
  // ont-weight: 400;f
  padding: $gap;

  &__link {
    display: block;

  }

  &__accent {
    display: inline-block;
    padding: 14px 1px 13px 5px;
    border: 3px solid $color-highlight;
    margin-right: 4px;
  }
}


