@use "../presets" as *;
@use "../mixins" as *;

.btn {
  height: 60px;
  font-size: 1.125rem; /*разрешение с 1980 до 768*/
  letter-spacing: 0.1em; /*разрешение с 1980 до 768*/
  background-color: rgba($color-primary, 0.1);
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s;

  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}

.btn--light {
  min-width: 250px;
  background-color: rgba($color-light, 0.1);
  border: 2px solid $color-light;
}

.btn--primary {
  background-color: rgba($color-primary, 0.8); /*#2d3651*/
  border: 2px solid $color-primary;
}
