
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  color: $color-gray;
  font-size: 16px;
  overflow-y: scroll;
  letter-spacing: 0.1em;
}

h1 {
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.08em;
  text-align: center;
  font-weight: 300;
  /* display: inline-flexbox; */
}

h2 {
  color: $color-primary;
  font-weight: 700;
  font-family: "Roboto Slab";
}

a {
  text-decoration: none;
  color: $color-light;
}
p {
  margin: 0;
}